@model WebApp.ViewModels.ArticleDetailsModel

@using Commons
@using WebApp.Helpers;

@{
    ViewBag.Title = "NaN - Articles";
}

@{
  Func<dynamic, object> email = 
   @<a href="mailto:@item">@item</a>;
}


@section head {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#submitGrade").hide();
            $("input[type=radio].gradeValue").click(function () {
                $("#gradeForm").submit();
            });
        });
    </script>
}

<h2>@Model.Title</h2>

<p>
    <strong>Author:</strong> @Model.AuthorUserName (@Html.DisplayFor(m => m.EmailAddress)) (@email(Model.EmailAddress))<br />
    <strong>Grade average:</strong> @Model.GradeAverage<br />
    @Html.ActionLink("Download attachment", "DownloadAttachment", new { id = ViewBag.Id })
</p>

<p><em>@Model.Summary</em></p>

@Html.Rich(@Model.Body)

<hr />

<p>
    @Html.ActionLink("Back to article list", "Index")
</p>

@if (User.IsInRole("User")) {
    <h3>Voice your opinion on this article</h3>

    using (Html.BeginForm("GradeArticle", "Grade", new {id = ViewBag.Id}, FormMethod.Post, new {id = "gradeForm"})) {
        for (int grade = Constants.MinGradeValue; grade <= Constants.MaxGradeValue; ++grade) {
            @Html.RadioButton("gradeValue", grade, new { id = "gradeValue" + grade, @class = "gradeValue" })
            <label for="gradeValue@(grade)">@grade</label>
        }
        <input type="submit" id="submitGrade" value="Submit grade" />
    }
}
